//- TestComponent3 component — usage: +test-component-3({ title: '', text: '' })
mixin test-component-3(data)
  section.test-component-3
    .container
      if data.title
        h2.test-component-3-title.fs-10f20f50.mb-16f20f40= data.title
      if data.text
        p.test-component-3-text.fs-12f16f24= data.text
      block
