footer.site-footer
  .container
    .site-footer-inner
      .site-footer-brand
        .logo-wordmark
          | AFS
          span .
        p.site-footer-tagline A frontend system built for agency teams.
      .site-footer-links
        .site-footer-col
          span.site-footer-heading System
          ul
            li: a(href="#") Documentation
            li: a(href="#") Components
        .site-footer-col
          span.site-footer-heading Resources
          ul
            li: a(href="#") Team Guide
            li: a(href="#") Workflow
            li: a(href="#") Integration
    .site-footer-bottom
      p &copy; #{new Date().getFullYear()} AFS. All rights reserved.
      p.site-footer-credit Agency Frontend System (AFS) v16
